{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-image text-center shadow-1-strong rounded"
    style="background-image: url(https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg); height: auto; width: 100%; background-size: cover;">
    <header class="header">
        <div class="overlay">
            <h2>About Me Page!</h2>
            <p>Some text about who I am.</p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                <div class="card mb-4">
                    <div class="card-body overflow-auto content-txt">
                        <p>
                            Passionate explorer of ideas, weaving words to inspire and inform. A creative mind with a
                            penchant for storytelling, I navigate the vast landscapes of knowledge to uncover hidden
                            gems. With a keen eye for detail and a love for precision, I craft compelling narratives
                            that captivate and resonate.
                        </p>
                        <p>
                            Driven by curiosity, I embrace the ever-changing nature of our world, constantly seeking new
                            perspectives and insights. From the wonders of science to the mysteries of the human psyche,
                            I delve into diverse subjects to unravel their complexities and distill them into accessible
                            narratives.
                        </p>
                        <p>
                            Drawing from a rich tapestry of experiences and cultures, my writing reflects a global
                            perspective that celebrates diversity and fosters understanding. With a dedication to
                            clarity and conciseness, I strive
                            to communicate complex ideas in a way that is engaging and relatable to all.</p>
                        <p>
                            In this digital realm, I am a guide, leading you through the maze of information overload,
                            helping you discern the meaningful from the trivial. Together, we embark on a journey of
                            discovery, where words come
                            alive and ideas spark inspiration.
                        </p>
                        <p>
                            Beyond the realm of writing, I am an avid explorer of nature, finding solace in its serene
                            landscapes and drawing inspiration from its harmonious rhythms. I find joy in the simple
                            pleasures of life - a good
                            book, a warm cup of tea, and the company of loved ones.
                        </p>
                        <p>
                            Join me on this creative odyssey as we explore the beauty of language and the power of
                            ideas, unearthing hidden treasures along the way. Together, let's embark on a transformative
                            journey of knowledge and
                            imagination, where words have the power to shape and illuminate our world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 optdis">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsp1994/image/upload/v1664535566/kal-visuals-PFC2fY9LE_g-unsplash_nu3dle.jpg"
                        id="Dave" alt="Dave" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content %}