{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-image text-center shadow-1-strong rounded text-white" 
style="background-image: url(https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg); height: 100vh; width: 100%; background-size: cover;">
    <header class="header">
        <div class="overlay">
            <h1>About Me Page</h1>
            <p>Some text about who I am.</p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-3 left">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-header">Title</h2>
                        <p class="card-text">Text</p>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="#" alt="Dave" style="width:100%">
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content %} 