{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="bg-image text-center shadow-1-strong rounded" 
style="background-image: url(https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg); height: 100vh; width: 100%; background-size: cover;">
    <header class="header">
        <div class="overlay">
            <h2>About Me Page!</h2>
            <p>Some text about who I am.</p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-5">
                <div class="card mb-4">
                    <div class="card-body overflow-auto content-txt">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fringilla luctus elit, quis mollis arcu ultricies ultricies. 
                            Nullam ullamcorper ipsum convallis nibh commodo tristique. Duis malesuada orci ac odio maximus euismod. Nulla id mattis ante. 
                            Sed ultrices convallis gravida. Praesent bibendum erat ultricies, mattis ipsum at, volutpat mi. Etiam porta venenatis consequat. 
                            Mauris ultricies augue imperdiet, maximus nisi vel, porttitor arcu. Sed a luctus tortor. Ut vitae enim ut orci blandit suscipit. 
                            Vivamus at sagittis velit.
                        </p>
                        <p>
                            Aenean maximus ultricies nibh, eget varius ex. Proin in feugiat turpis, sit amet interdum augue. 
                            Maecenas eget dui nec massa malesuada hendrerit nec nec odio. Quisque rhoncus vulputate lacus non convallis. Etiam quis eros malesuada, 
                            placerat dolor eget, convallis sapien. Proin id luctus elit. Cras in egestas risus. Curabitur eu sagittis enim. 
                            Nunc lacinia nibh a vestibulum malesuada. Aenean finibus neque ut ligula suscipit, eu varius metus maximus. Vivamus et rhoncus nibh, 
                            aliquam commodo eros. Proin luctus vehicula malesuada. Praesent blandit tortor ac lacus facilisis suscipit. Duis in rhoncus leo, volutpat posuere neque. 
                            Vivamus nunc metus, vestibulum eu laoreet ut, efficitur nec nunc.
                        </p>
                        <p>
                            Aenean tristique ipsum a est pellentesque dictum. Etiam laoreet consectetur odio, quis lacinia velit commodo pellentesque. 
                            Curabitur et blandit neque. Donec tortor tellus, imperdiet at varius id, suscipit non nibh. Maecenas non urna tincidunt eros mollis lobortis. 
                            Donec at posuere sem, quis dictum dolor. Ut vel diam elit. Phasellus enim risus, pretium eu lacus eget, commodo hendrerit nisl.
                        </p>
                        <p>
                            Maecenas vel lorem tempus, ultricies lacus ultricies, malesuada felis. Phasellus nisl neque, ultrices nec congue a, euismod id nunc. 
                            In eget vestibulum purus. Maecenas malesuada lectus vitae mollis sollicitudin. Nullam congue ut lectus et maximus. 
                            Pellentesque tincidunt at erat nec iaculis. Mauris aliquam pellentesque porttitor. Mauris fermentum nisl vulputate tortor tempor pulvinar. 
                            Sed a porttitor ipsum. Nullam rutrum rutrum maximus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5 optdis">
                <div class="card">
                    <img src="https://res.cloudinary.com/dsp1994/image/upload/v1664535566/kal-visuals-PFC2fY9LE_g-unsplash_nu3dle.jpg" id="Dave" alt="Dave" style="width:100%">
                </div>
            </div>            
        </div>
    </div>
</div>
{%endblock content %} 