{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-6 masthead-text">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
    </div>
    <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img src="https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg" width="100%">
        {% else %}
        <img src=" {{ post.featured_image.url }}" width="100%">
        {% endif %}        
    </div>
    <div class="card-body col-md-8">
        <p class="card-text">{{ post.content | safe }}</p>
        <div class="row">
            <div class="col-1">
                <strong class="text-secondary"><i class="far fa-heart">{{ blog.number_of_likes }}</i></strong>
            </div>
            <div class="col-1 mr-4">
                {% with comments.count as total_comments %}
                <strong class="text-secondary mr-2"><i class="far fa-comments">{{ total_comments }}</i></strong>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5 card mb-10">
        <h3 class="mt-3 ml-2">Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}                
        </div>
    </div>
    <div class="card-body col-md-4">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
            Your Comment Is Awaiting Approval
        </div>
        {% else %}
        {% if user.is_authenticated %}
        <h4>Leave a comment:</h4>
        <form method="post" class="md-12">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
        {% else %}
        <p class="col-md-10">Please <a href="{% url 'account_login' %}">login</a> or 
            <a href="{% url 'account_signup' %}">sign up</a> to leave a comment.</p>
        {% endif %}
        {% endif %} 
    </div>
  </div>
</div>

{% endblock content %}