{% extends 'base.html' %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="bg-image text-center shadow-1-strong rounded" 
style="background-image: url(https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg); height: 100vh; width: 100%; background-size: cover;">
  <header class="header">
      <div class="overlay">
        <h1>{% trans "Log In" %}</h1>
      </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 content-txt">
        <p>{% blocktrans %}Welcome back! Please login via the page below. <br> If you are new 
          don't forget you can sign up <a href="{{ signup_url }}" class="content-txt">here</a>.{% endblocktrans %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 content-txt">
          <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form | crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="li-txt-btn li-hover" type="submit">{% trans "Log In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
