{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="bg-image text-center shadow-1-strong rounded" 
style="background-image: url(https://res.cloudinary.com/dsp1994/image/upload/v1664203850/about-me-background_ygdwtk.jpg); height: 100vh; width: 100%; background-size: cover;">
  <header class="header">
      <div class="overlay">
        <h1>{% trans "Sign Up" %}</h1>
      </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <p>{% blocktrans %}Already have an account? 
          Then please <a href="{{ login_url }}">sign in</a>.
          {% endblocktrans %}</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="rg-txt-btn rg-hover" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
